.user{
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  text-decoration: none;
  color: #273650;
}
.users{
  display: flex;
  width: 25%;
  flex-direction: column;
  padding: 30px;
  background: #f1f1f1;
}