
.message{
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.img{
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background: #ccc;
  justify-content: center;
  border-radius: 5px;
}